[Desktop Entry]
Type=Application
Version=1.0
Name=Install using Calamares (Experimental)
GenericName=System Installer
Comment=Install Antergos NeXT using Calamares (experimental)
Keywords=calamares;system;installer;
TryExec=calamares
Exec=sudo -E calamares -d
Categories=Qt;System;
Icon=calamares
Terminal=false
StartupNotify=true
